/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}

header{
	position: fixed;
	top: 0px;
	min-height: 46px;
	width: 100%;
	background-color: white;
	z-index: 99;
}

#login{
	line-height: 46px;
	height: 100%;
	padding: 0px 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: all 0.5s ease; /* Safari */
    transition: all 0.5s ease;

    
}

#login:hover{
	background-color: rgba(0,0,0,0.4);
	color: white;
}

#debug{
	position: fixed;
	top: 3px;
	right: 2%;
	padding:  10px 35px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 50px;
	z-index: 100;
}

#mainWrapper{
	margin-top: 46px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.separador_titulo{
	width: 100%;
	font-weight: bold;
	font-size: 350%;
	text-align: center;
	padding: 50px 0;
	background-color: rgba(180,180,180,0.4);
}

.separador{
	width: 100%;
	background-color: white;
}

.contenido{
	width: 100%;
	max-width: 960px;
	padding: 20px 0; /*arriba derecha abajo izquierda*/ /* arriba|abajo derecha|izquierda*/
	margin: auto auto;
}

.fProduct{
	display: inline-block;
	width: 30%;
	margin: 0px 1.5%;
	cursor: pointer;
	background-color: black;
}

.fProduct img{
	width: 100%;
	-webkit-transition: opacity 0.5s ease; /* Safari */
    transition: opacity 0.5s ease;
}

.fProduct img:hover{
	opacity: 0.2;
}

.separador .contenido .title{
	text-align: center;
	font-size: 150%;
	margin: 20px 0;
}

#manita{
	position: absolute;
	min-width: 150px;
	margin-left: -150px;
}

#manita img{
	width: 100%;
}

/**
	Estilos de los formularios/cajas flotantes
**/

.floatingWindow{
	position: fixed;
	right: 0%;
	width: 400px;
	max-width: 400px;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,1);
	padding: 20px 15px;
	display: none;
}

.fwRight{
	float: right;
}
.fwLeft{
	float: left;
}

.floatingWindow form input{
	display: block;
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 5px;
}

.floatingWindow form .msg{
	font-size: 85%;
	text-align: center;
	margin: 5px 0;
	color: rgba(0,0,0,0.7);
}

.floatingWindow form .lilText{
	margin: 10px 0 0 0;
	font-size: 80%;
}

.floatingWindow form .lilText span{
	cursor: pointer;
}

.floatingWindow form .lilText span:last-child{
	float: right;
}

.floatingWindow form .lilText span:first-child{
	float: left;
}

.correcto{
	border: 1px solid #27ae60 !important;
	background-color: rgba(0,200,0,0.2);
}
.incorrecto{
	border: 1px solid #c0392b !important;
	background-color: rgba(200,0,0,0.2);
}

/**** User Menu ****/
#userMenu{
	max-width: 150px;
	width: 150px;
	border-radius: 0 0 5px 5px;
	background-color: white;
	padding: 0px 0px;
}

#userMenu ul li{
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	padding: 2.5px 2.5px;
	-webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}

#userMenu ul li:hover{
	background-color: rgba(0,0,0,0.8);
	color: white;
}